<h1>Productos</h1>

<form method="GET" action="/products">
  <label for="limit">Cantidad:</label>
  <input type="number" name="limit" id="limit" min="1" value="{{limit}}" />

  <label for="sort">Ordenar por precio:</label>
  <select name="sort" id="sort">
    <option value="">Sin orden</option>
    <option value="asc" {{#if (eq sort "asc" )}}selected{{/if}}>Ascendente</option>
    <option value="desc" {{#if (eq sort "desc" )}}selected{{/if}}>Descendente</option>
  </select>

  <label for="query">Filtrar por categoría o disponibilidad:</label>
  <input type="text" name="query" id="query" value="{{query}}" />

  <button type="submit">Aplicar</button>
</form>

{{#if payload.length}}
<ul>
  {{#each payload}}
  <li>
    <strong>{{this.title}}</strong><br>
    {{this.description}}<br>
    Precio: ${{this.price}}<br>
    Categoría: {{this.category}}<br>
    Stock: {{this.stock}}<br>

    <a href="/products/{{this._id}}?cid={{../cid}}">Ver detalles</a>

    {{#if ../cid}}
    <form action="/api/carts/{{../cid}}/products/{{this._id}}" method="POST">
      <button type="submit">Agregar al carrito</button>
    </form>

    {{else}}
    <em>No se especificó carrito</em>
    {{/if}}
  </li>
  {{/each}}
</ul>

<div class="pagination">
  {{#if hasPrevPage}}
  <a href="?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">⏪ Anterior</a>
  {{/if}}

  Página {{page}} de {{totalPages}}

  {{#if hasNextPage}}
  <a href="?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Siguiente ⏩</a>
  {{/if}}
</div>

{{else}}
<p>No hay productos disponibles.</p>
{{/if}}